<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <form method="post" action="/" class="need">
    <div class="form">
      <div class="navahai"><h1>Add New Student</h1></div>

      <div class="c">
        <h3>StudentID</h3>
        <input name="studentID" id="studentID" type="text" placeholder="Enter StudentID">
    
        <h3>Student Name</h3>
        <input name="studentname" id="studentname" type="text" placeholder="Enter Student Name">
    
        <h3>Email</h3>
        <input name="email" id="email" type="text" placeholder="abcxyz@gmail.com">

        <h3>Phone Number</h3>
        <input name="phonenumber" id="phonenumber" type="text" placeholder="XXXXXXXXXX">
    
        <h3>Gender</h3>
      <select id="gender" name="gender">
        <option value="none">None</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      </select>
 
        <h3>Department</h3>
        <input name="dept" id="dept" type="text" placeholder="Enter Department">
    
        <h3>Batch</h3>
        <input name="batch" id="dept" type="text" placeholder="Ex :2018">
    </div>

      <div class="btnssss">
        <button class="submit" type="submit">Submit</button>
      
    </div>
    <div class="color">
    <a href="http://localhost:2000/" target="_blank">
      Cancel</a></div>
   </form>
</body>

</html>